<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>李有平博客留言通知</h1>
<h3>留言者信息：</h3>
<p>姓名：<%= @contact.name %></p>
<p>手机：<%= @contact.tel %></p>
<p>邮箱: <%= @contact.email %></p>
<h3>留言内容：</h3>
<p><%= @contact.message %></p>
</body>
</html>