<div class="container">
  <h2>修改博客</h2>
  <div class="row">
    <%= form_for :article, {url: admin_article_path(@article),role: "form"} do |f| %>
        <div>
          <%= f.submit "保存" , class: "btn btn-primary save-btn"%>
        </div>
        <%= render partial: 'form', locals: {f: f,article: @article} %>
    <% end %>
  </div>
</div>