<div class="col-md-8">
  <div class="col-md-6">
    <%= image_tag 'me.jpg',style: "width:60%;border-radius:100%;" %>
  </div>
  <div class="col-md-6">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">关于我</h3>
      </div>
      <div class="panel-body">
        <p>姓名：李有平</p>
        <p>生日：04-04</p>
        <p>邮箱：453974610@qq.com</p>
        <p>籍贯：江西省上饶市</p>
        <p>现居：上海</p>
      </div>
    </div>
  </div>
</div>